# SPDX-License-Identifier: 0BSD
# SPDX-FileCopyrightText: 2026 Aryan Ameri <info@ameri.me>

[build]
target = "bun"
minify = true
sourcemap = "external"
bytecode = true

[test]
coverage = true
coverageDir = "coverage"
coverageReporter = ["text", "lcov"]
coverageSkipTestFiles = true
coverageThreshold = { line = 0.7, function = 0.8 }
timeout = 10000
preload = ["./tests/setup.ts"]

[run]
bun = true
read = [".env.local", ".env"]

[install]
peer = false
frozenLockfile = true

[install.lockfile]
save = true

[define]
"process.env.NODE_ENV" = "'production'"
